html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: helvetica;
}

h1 {
  font-size: 2rem;
  line-height: 1.2px;
  font-weight: bold;
}

h3 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  color: white;
}

p {
  max-width: 85%;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.jumbotron {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

nav {
  font-size: 1rem;
  position: relative;
  top: 1rem;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav li {
  display: inline-block;
  padding: 1rem 2rem 1rem 0;
}

nav img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.menu {
  display: none;
}

.logo {                           /* Left side of navigation bar */
  display: flex;
  align-items: center;
}

header {                          /* Headline box inside Jumbotron */
  background-color: white;
  padding: 1.5rem 5rem;
  position: absolute;
  right: -2rem;
  top: 15rem;
}

/* Start of paper ruler truck banner */
.icon-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sm-container {
  margin-right: 6rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.zeromargin {                      /* Margin fix for proper scaling of rightmost icon */
  margin-right: 0;
}

.sm-container img {
  max-width: 5rem;
}

.exams img {
  max-width: 3.5rem;
}

/* Start of Philosophy and Appointments paragraph content */

main {
  display: flex;
  justify-content: center;
}

article {
  display: block;
  width: 35%;
  margin-right: 5%;
}

/* Start of footer */

footer {
  display: relative;
  background-color: azure;
  top: 4rem;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Media Query Tablet size */
@media only screen and (max-width: 960px){

  .jumbotron {
    height: 22rem;
    background-position: center;
  }

  nav {
    top: 0rem;
  }

  header {
    top: 7.5rem;
    right: 2rem;
    padding: 0.75rem 4rem;
  }

  header h1 {
    font-size: 1.33rem;
  }
  .nav {
    min-width: 19rem;
  }
  .logo {
    min-width: 18rem;
  }
}

/* Media Query Phone size */
@media only screen and (max-width: 480px){

  .jumbotron {
    background-position: 20%;
    height: 17rem;
  }

  nav {
    top: 0rem;
  }

  header {
    top: 9rem;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
  }

  header h1{
    font-size: 1rem;
    min-width: 220px;
  }

  .nav {
    display: none;
  }

  .menu {
    display: inline-block;
  }

  .logo span {
    display: none;
  }

  .icon-banner {
    flex-direction: column;
    margin-top: 2.23rem;
    margin-bottom: 3.77rem;
  }
  .sm-container {
    width: 51%;
    margin: 1.54rem 0 0 0;
    max-height: 6rem;
  }

  h5 {
    font-size: 0.77rem;
  }

  main {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  article, h3 {
    width: 100%;
    display: block;
  }

  h3 {
    text-align: center;
  }

  p {
    max-width: 100%;
    padding-bottom: 4rem;
    padding-left: 0.5rem;
  }

  footer span {
    display: none;
  }

  .copyright {
    justify-content: center;
  }

  .copyright img {
    padding-left: 0;
    padding-right: 0;
  }

}
